$font-stack: 'Spartan', sans-serif;
// Primary Colors
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%); // Neutral Colors
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%); // Attribution
$attribution: hsl(228, 45%, 44%);

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font: $font-stack;
  font-size: 0.83em;
  max-width: 1440px;
  min-width: 375px;
}

.top-half {
  position: relative;
  top: 7.9375em;
  left: 10.3125em;
  display: flex;
}

.intro {
  max-width: 27.8125em;
  max-height: 14.6875em;

  .tagline {
    color: $veryDarkMagenta;
    font-size: 3em;
    font-weight: 700;
  }

  .description {
    color: $darkGrayishMagenta;
    font-size: .9375em;
    font-weight: 500;
    letter-spacing: -1.71px;
    line-height: 1.5625em;
  }
}

.ratings {

  width: 60%;

  .rating {
    color: $veryDarkMagenta;
    font-size: inherit;
    font-weight: 700;
    line-height: 3.5em;
    background: #F7F2F7;
    border-radius: 0.5em;
    width: 40%;

    img {
      width: 1em;
      height: 1em;
    }

    span {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .report-guru {
    position: relative;
    left: 2em;
  }

  .best-tech {
    position: relative;
    left: 4em;
  }
}

.buyer-reviews {
  position: relative;
  top: 27.125em;
  left: 10.3125em;
  display: flex;
}

article {
  background-color: $veryDarkMagenta;
  border-radius: 0.5em;
  max-height: 14.625em;
  max-width: 21.875em;

  img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
  }

  .name {
    color: white;
    font-size: 0.8125em;
    font-weight: 700;
  }

  .status {
    color: $softPink;
    font-size: 0.8125em;
    font-weight: 400;
  }

  .review {
    color: white;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.375em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: $attribution;
}
